<div class="row">
    <h1>Kontaktinformasjon</h1>
    <h2>Tilskudd til frivillige organisasjoner til folkehelsearbeid</h2>
    <p>
        <strong>Folkehelse: </strong>rådgiver Heidi Hamadi<br/>
        E-post: <a href="mailto:heidi.hamadi@vtfk.no">heidi.hamadi@vtfk.no</a><br/>
        Telefon: <a href="tel:+4792099139">920 99 139</a>
    </p>
    <h2>Tilskudd til arrangementer og tiltak innen kultur</h2>
    <p>
        <strong>Kultur: </strong>rådgiver Line Ruud Ørslien<br/>
        E-post: <a href="mailto:line-ruud.orslien@vtfk.no">line-ruud.orslien@vtfk.no</a><br/>
        Telefon: <a href="tel:+4735917337">35 91 73 37</a> / <a href="tel:+4799525209">995 25 209</a>
    </p>
    <h2>Tilskudd idrettsanlegg, idrettsstipender og idrettsarrangementer</h2>
    <p>
        <strong>Idrett: </strong>fylkesidrettskonsulent Therese Surdal Lahus<br/>
        E-post: <a href="mailto:therese.surdal.lahus@vtfk.no">therese.surdal.lahus@vtfk.no</a><br/>
        Telefon: <a href="tel:+4799276530">992 76 530</a>
    </p>
    {{>continue-application}}
</div>